:root {
    --spacing-10: 1em;
    --gap: 5px;
    --black: black;
    --red: red;
    --bg: white;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: orbitron;
    color: var(--red);
}
